body {
  margin: 0;
  font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.head{
  text-align: center;
  height: 2vh;
}
.content{
  width: 100%;
  height: 110vh;
  background: rgba(0, 0,10,0.3);
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.card{
  width: 280px;
  height: 280px;
  background:rgba(255, 255, 250, 0.9);
  margin:auto auto auto auto;
  box-shadow: 5px 5px 10px -2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.img_c{
  width: 280px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.card_info{
  padding: 10px;
  margin: 5px;
}
.card_category{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0,1,0.5);
}
.card_title{
font-size:25px;
margin: 1px;
}
button{
  margin: 2px;
  width: 110px;
  height: 26px;
  justify-content: center;
  text-transform: uppercase;
  font-family: Cambria;
}
@media screen and (max-width: 1150px){
  .content{
    width: 100%;
    height: 110vh;
    background: rgba(0, 0,10,0.1);
    display:grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 650px){
  .content{
    width: 100%;
    height: 110vh;
    background: rgba(0, 0,10,0.1);
    display:grid;
    grid-template-columns: auto;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
